@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

body {
    background: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    /* padding: 0; */
    margin: 0;
}

.App {
    /* background-color: rgba(0, 0, 255, 0.336); */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    /* padding: 0; */
    /* margin: 0; */
}