.home--page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home--page button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 30%;
    border: none;
    background-color: #131537;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.home--page button:hover {
    background-color:  #1F3757;
}

.home--page button img {
    width: 100px;
}