.home--page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home--page button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 30%;
    border: none;
    background-color: #131537;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.home--page button:hover {
    background-color:  #1F3757;
}

.home--page button img {
    width: 100px;
}

@media screen and (min-width: 900px) {
    .home--page {
        justify-content: center;
    }

    .home--page button {
        width: 350px;
        height: 400px;
        border-radius: 7%;
    }

    .home--page a {
        padding: 0 20px;
    }

    
}